<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;500;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <title>M-TEK ENGINEERS</title>

</head>
<body>
  
<!-- Header starts here---------------------------------------------------------------------- -->
<nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainnavbar">
  <div class="container">
      <a class="navbar-brand" href="#"><img id="logostyle" src='/css/Images/logo..png'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#">HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">ABOUT US</a>
              </li>
              
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">NETWOKS</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

    <!--LANDING PARALLAX IMAGE ---------------------------------------------------------------------------------------------------------- -->

    
    <div class="img1">
      <div class="ptext">
        <div class="landingcontent">
          <h1><section id="brand">M-TEK ENGINEERS</section></h1>
          <section id="phrase">
            <div> It's all about the drive.</div>
            <div> Introducing our custom parts for your ride.</div>
          </section>
          
        </div>
        <a href="#"><button type="button" class="btn btn-outline-secondary landingbutton" id="button">VIEW PRODUCTS</button></a>
      </div>
    </div>


 <!-- ABOUT US STARTS HERE------------------------------------------------------------------------------------------- -->

    <section class="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 d-flex box">
            <div class="about-img">
              <img class="img-fluid" src="https://i.pinimg.com/736x/9a/d6/73/9ad673827425c0db2f52e951e3e60bc3.jpg">
            </div>
          </div>
          <div class="col-lg-6 d-flex">
            <div>
              <div class="section-title">
                <h1 id="about-title" class="title">ABOUT US</h1>
            </div>
            <div class="about-content">
                <p>A strong workforce of more than 350 employees with 15 engineers specialized in production, development,
                   marketing and design. Currently India's only accessories manufacturer to have ABS blow moulding facility
                    and Polyurethane foam injection facility under one roof with Vertical machining center. 
                </p>
                <ul>
                  <li><button type="button" class="btn btn-outline-secondary"><span class="btn-txt">ABS BLOW MOULDING</span></button></li>
                  <li class="vertical-line"></li>
                  <li><button type="button" class="btn btn-outline-secondary"><span class="btn-txt">MADE FROM SCRATCH</span></button></li>
                  <li class="vertical-line"></li>
                  <li><button type="button" class="btn btn-outline-secondary"><span class="btn-txt">VMC & INJECTION MOULDING</span></button></li>


                  <!-- <li><i class="fas fa-check"></i>25 years of excellence.</li>
                  <li><i class="fas fa-check"></i>Products made from scratch.</li>
                  <li><i class="fas fa-check"></i>Our accessories require No drilling or welding.</li>
                  <li><i class="fas fa-check"></i>Automated systems to handle Orders and Dispatch.</li>
                  <li><i class="fas fa-check"></i>Flexibility in Design & Production equipment.</li>
                  <li><i class="fas fa-check"></i>Ensure zero PPM at customer end.</li>
                  <li><i class="fas fa-check"></i>Implimentation of Kaizen ideas</li> -->
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Quote image----------------------------------------------------------- -->

    <div class="img2">
      <p><div id="quote">THE CARS WE DRIVE SAY A LOT ABOUT US.</div></p>
    </div>

    <!-- PRODUCTS-------------------------------- -->

    <section class="products-section">
      <div id="product" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
              <div id="products-title" class="section-title">
                <div>OUR PRODUCTS</div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="owl-carousel" id="carousel">
            <div class="col-lg-12 ">
              <div class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="/css/Images/p1.jpg">
                </div>
                <div class="product-content">
                  <span class="price">Rs.9999</span>
                  <h5 class="product-name">FRONT GUARD</h5>
                  <a href="http://www.mtekengineers.com/index.php#service"><button type="button" class="btn btn-outline-success">VIEW</button></a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 ">
              <div class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="/css/Images/p2.jpg">
                </div>
                <div class="product-content">
                  <span class="price">Rs.9999</span>
                  <h5 class="product-name">REAR GUARD</h5>
                  <button type="button" class="btn btn-outline-success">VIEW</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12 ">
              <div class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="/css/Images/p3.jpg">
                </div>
                <div class="product-content">
                  <span class="price">Rs.9999</span>
                  <h5 class="product-name">LUGGAGE CARRIER</h5>
                  <button type="button" class="btn btn-outline-success">VIEW</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12 ">
              <div class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="/css/Images/p5.jpg">
                </div>
                <div class="product-content">
                  <span class="price">Rs.9999</span>
                  <h5 class="product-name">SIDE-STEPS</h5>
                  <button type="button" class="btn btn-outline-success">VIEW</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12 ">
              <div class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="/css/Images/p4.jpg">
                </div>
                <div class="product-content">
                  <span class="price">Rs.9999</span>
                  <h5 class="product-name">BODY KIT</h5>
                  <button type="button" class="btn btn-outline-success">VIEW</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    

   

    <!-- MAKE IN INDIA--------------------------- -->

    <div id="india" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img id="indiaimg" class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/4/46/Make_In_India.png">
          </div>
          <div class="col-lg-6">
            <div id="makeinindia" class="justify-content-center">
              <div>//ALL OUR PRODUCTS MADE IN INDIA</div>
              <div>//ALL OUR PRODUCTS FEATURE ABS</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Customer Testimonials-------------------- -->

    
    <section class="testimonial-section">
      <div class="container">
        <!-- header starts here -->
        <div id="product" class="container">
          <div class="row justify-content-center">
              <div class="col-lg-7">
                <div id="products-title" class="section-title">
                  <div style="line-height: 30px;">CUSTOMER TESTIMONIALS</div>
                </div>
              </div>
          </div>
        </div>
        <!-- header ends here -->
      
        <!-- testimonial starts here -->
        
        <div class="row">
           <div class="owl-carousel" id="testimonial-carousel"> 
            <div id="comment1" class="col-lg-12">
              <div class="testi-item">
                <div class="testi-comment">
                  <p><i class="fas fa-quote-left"></i>Awesome work guys…..long live off roaders…. 
                    And the guys like you who made off roading much easier… 
                    The custom parts added to my car gives it a premium look and also makes it sturdy 
                    for the rough terrain at the same time...Cheers!<i class="fas fa-quote-right"></i>
                  </p>
                  <ul class="stars list-unstyled">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="client-info">
                  <img src="/css/Images/client1.jpg" style="width: 60px;">
                  <h5>Samir Singh</h5>
                  <div>Lucknow, Uttar Pradesh</div>
                </div>
              </div>
            </div>
            <div id="comment1" class="col-lg-12">
              <div class="testi-item">
                <div class="testi-comment">
                  <p><i class="fas fa-quote-left"></i>I am truly impressed with the attitude and precise delivery 
                    but also really glad that M-Tek truly believe in the work they do and uphold the car owner's spirit…
                    looking forward to get My car completely modified by M-Tek automotives for sure.<i class="fas fa-quote-right"></i>
                  </p>
                  <ul class="stars list-unstyled">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="client-info">
                  <img src="/css/Images/client2.jpg" style="width: 60px;">
                  <h5>Abhimanyu Sharma</h5>
                  <div>Delhi</div>
                </div>
              </div>
            </div>
            <div id="comment1" class="col-lg-12">
              <div class="testi-item">
                <div class="testi-comment">
                  <p><i class="fas fa-quote-left"></i>Great work by the team of M-TEK engineers. They 
                    customised my car according to my needs and that too with class. The custom parts added to my 
                    car gives it a premium look and also makes it sturdy 
                    for the rough terrain at the same time. Marvellous!<i class="fas fa-quote-right"></i>
                  </p>
                  <ul class="stars list-unstyled">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="client-info">
                  <img src="/css/Images/client3.jpg" style="width: 60px;">
                  <h5>Lakshya</h5>
                  <div>Pune, Maharashtra</div>
                </div>
              </div>
            </div>
            

          </div>
          
        </div>
      </div>
      
    </section>

    <!-- End section -->
    <div class="img3">
      <div id="quote3"><img src="/css/Images/logo..png"></div> 
      <div class="last">Mtek Engineers, Inc.Gat no. 123/1, Moi Road, Kuruli Tal Khed, District Pune 410501 , P:02135 660 176</div>
      <div class="last2">EMAIL: orders@mtek.in</div>
      <div class="logo">
        <ul>
          <li><i class="fab fa-google-plus-square"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          
        </ul>
      </div>
      <div class="copyright">
        ©Copyright 2021 - Mtek Engineers. All rights reserved. Website designed by SIVA.
      </div>
      
    </div>

    
    
   

    

    
      
  
























<!-- Script for js------------------------------------------------------------------------- -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/app.js"></script>
    
</body>
</html>